BPELNumberAdder/bpelContent/providers/credits_enterprise_service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns="http://javeriana-credits/enterprise-services"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="credits_enterprise_service" targetNamespace="http://javeriana-credits/enterprise-services">

	<wsdl:types>
		<xsd:schema targetNamespace="http://javeriana-credits/enterprise-services">

			<xsd:element name="crearCredito">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tipo" type="xsd:string" />
						<xsd:element name="monto" type="xsd:integer" />
						<xsd:element name="usuario" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="crearCreditoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codigo" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="notificarRechazo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tipo" type="xsd:string" />
						<xsd:element name="monto" type="xsd:integer" />
						<xsd:element name="usuario" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="notificarRechazoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codigo" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="crearCreditoRequest">
		<wsdl:part element="tns:crearCredito" name="parameters" />
	</wsdl:message>

	<wsdl:message name="crearCreditoResponse">
		<wsdl:part element="tns:crearCreditoResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="notificarRechazoRequest">
		<wsdl:part element="tns:notificarRechazo" name="parameters" />
	</wsdl:message>

	<wsdl:message name="notificarRechazoResponse">
		<wsdl:part element="tns:notificarRechazoResponse" name="parameters" />
	</wsdl:message>

	<plnk:partnerLinkType name="creditsEnterprisePortType_PLT">
		<plnk:role name="creditsEnterprisePortType_Role" portType="tns:creditsEnterprisePortType" />
	</plnk:partnerLinkType>

	<wsdl:portType name="creditsEnterprisePortType">
		<wsdl:operation name="crearCredito">
			<wsdl:input message="tns:crearCreditoRequest" />
			<wsdl:output message="tns:crearCreditoResponse" />
		</wsdl:operation>
		<wsdl:operation name="notificarRechazo">
			<wsdl:input message="tns:notificarRechazoRequest" />
			<wsdl:output message="tns:notificarRechazoResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="credits_enterprise_serviceSOAP" type="tns:creditsEnterprisePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="crearCredito">
			<soap:operation soapAction="crearCredito" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="notificarRechazo">
			<soap:operation soapAction="notificarRechazo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="creditsEnterpriseService">
		<wsdl:port binding="tns:credits_enterprise_serviceSOAP"
			name="creditsEnterprisePort">
			<soap:address location="http://localhost:28080/esb/mock-services/credits" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
