credits-business-process/bpelContent/providers/business_rule.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns="http://javeriana-credits/brms"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="business_rule" targetNamespace="http://javeriana-credits/brms">

	<wsdl:types>
		<xsd:schema targetNamespace="http://javeriana-credits/brms">

			<xsd:element name="evaluateRule">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:ValidarCreditoFact" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="evaluateRuleResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:ValidarCreditoFact" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="ValidarCreditoFact">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tipo" type="xsd:string" />
						<xsd:element name="monto" type="xsd:integer" />
						<xsd:element name="aprobado" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="evaluateRuleRequest">
		<wsdl:part element="tns:evaluateRule" name="parameters" />
	</wsdl:message>

	<wsdl:message name="evaluateRuleResponse">
		<wsdl:part element="tns:evaluateRuleResponse" name="parameters" />
	</wsdl:message>

	<plnk:partnerLinkType name="businessRulePortType_PLT">
		<plnk:role name="businessRulePortType_Role" portType="tns:businessRulePortType" />
	</plnk:partnerLinkType>

	<wsdl:portType name="businessRulePortType">
		<wsdl:operation name="evaluateRule">
			<wsdl:input message="tns:evaluateRuleRequest" />
			<wsdl:output message="tns:evaluateRuleResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="business_ruleSOAP" type="tns:businessRulePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="evaluateRule">
			<soap:operation soapAction="http://javeriana-credits/brmsevaluateRule" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="businessRuleService">
		<wsdl:port binding="tns:business_ruleSOAP" name="businessRulePort">
			<soap:address location="http://localhost:28080/esb/brms-services/credits" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
