brms-integration-services/src/main/resources/contracts/business_rule.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://javeriana-maintenance/brms" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="business_rule"
	targetNamespace="http://javeriana-maintenance/brms">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://javeriana-maintenance/brms">
			
			<xsd:element name="evaluateRule">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:ValidarMaintenanceFact" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="evaluateRuleResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="tns:ValidarMaintenanceFact" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="ValidarMaintenanceFact">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status" type="xsd:string" />
						<xsd:element name="fuelPercentage" type="xsd:integer" />
						<xsd:element name="skipMaintenance" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>			
			
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="evaluateRuleRequest">
		<wsdl:part element="tns:evaluateRule" name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="evaluateRuleResponse">
		<wsdl:part element="tns:evaluateRuleResponse" name="parameters" />
	</wsdl:message>
	
	<wsdl:portType name="businessRulePortType">
		<wsdl:operation name="evaluateRule">
			<wsdl:input message="tns:evaluateRuleRequest" />
			<wsdl:output message="tns:evaluateRuleResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="business_ruleSOAP" type="tns:businessRulePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="evaluateRule">
			<soap:operation
				soapAction="http://javeriana-maintenance/brmsevaluateRule" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="businessRuleService">
		<wsdl:port binding="tns:business_ruleSOAP" name="businessRulePort">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
